* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .container:after {
      content: "";
      display: table;
      clear: both;
  }

.container{
    width: 800px;
    height: 470px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lightgray;
}

header{
    width: 100%;
    height: 100px;
    background-color: yellow;
}

.principale{
    width: 100%;
    height: 300px;
    margin: 10px 0;
}

aside{
    float: left;
    width: 250px;
    height: 200px;
    background-color: magenta;
}

main{
    float: right;
    width: 530px;
    height: 300px;
    background-color: orange;
}


footer{
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    background-color: blue;
}
